$theme-colors: ("primary": #41b883);


$body-color : #36454F;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import '~vue2-timepicker/dist/VueTimepicker.css';

.white-space-norml {
  white-space: normal;
}


.big-badge {
  padding: $spacer * .5;
  margin-top: $spacer * .5;
  margin-bottom: $spacer * .5;
}